<div class='text-center'>
  <h1>LoadFinder</h1>
  <p>LoadFinder is the easiest way for Companies/People to move their shipments,</p>
  <p>and the most convenient way for Companies/Truckers to find extra work!</p>
</div>
